// columns.scss
// fixes column margins and more for technicolour

.is-wide-columns .column, .is-narrow-columns .column {
    margin-right: $column-margin;
}

.is-wide-columns .app-columns, .is-narrow-columns .app-columns {
  padding-top: $column-padding;
  padding-left: $column-padding;
}

.app-columns {
    padding: $column-padding 0 $column-padding $column-padding;
}
  
.js-column {
    margin: 0 $column-margin 0 0;
}

.column-header, .column-header-temp {
    border-bottom: 1px;
}

.column-updates {
    margin-left: 0px;
    left: 0%;
}

.js-column-header,
.column-header {
  height: $header-height;
  line-height: $header-height;
}

.js-tweet-results .column-header {
  height: 50px;
  line-height: 50px;
}


@if $header-height > 43px {
	.column-title {
	  padding-top: 5px;
	  line-height: 1.4em;
	  text-align: center;
	}
	.column-title .column-head-title {
	  font-weight: bold;
	}
	.column-title .attribution {
	  display: block;
	  line-height: 1.2em;
	  margin-top: -3px;
	}
}

.column-drag-handle {
  height: ($header-height - 15px);
}

.column-content {
  top: $header-height;
}

.column-type-icon {
  display: block;
}

.lst-launcher .column-type-icon {
  display: inline;
}

.btn-negative {
  margin-top: (($header-height - 30px)/2);
}

.column-title-back .icon {
  top: 50%;
} 

.js-column-nav-scroller {
  bottom: 200px;
}