.tweet-message .l-table {
  display: none !important;
}

.tweet-message .tweet-avatar {
  width: 24px;
  height: 24px;
}
  
.is-unread .tweet-message .l-table {
  display: table !important;
  vertical-align: middle;
}
  
.tweet-message .conversation-indicator {
  display: none;
}

.tweet-message .nbfc {
  margin-left: -25px;
  line-height: 1.6em; 	
}

.tweet-message .tweet-text {
  margin-left: -24px;
}

.message-stream-item .tweet-text {
  width: 100% //because for some reason it doesn't fill the space
}

@if $header-height < 40px { //stops overflow with small headers and long names on DMs
  .column-type-message .title-content{
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .is-narrow-columns .column-type-message .title-content{
    max-width: ($column-narrow-width - 90px)
  }
  .is-medium-columns .column-type-message .title-content{
    max-width: ($column-medium-width - 90px)
  }
  .is-wide-columns .column-type-message .title-content{
    max-width: ($column-wide-width - 90px)
  }
}