// radius.scss
// radius-changes for cashmere

.tweet-avatar, .prf-img, .size72, .size24 {
  border-radius: $image-radius;
}

.compose-account-img, .scroll-styled-v::-webkit-scrollbar-thumb, .scroll-styled-h::-webkit-scrollbar-thumb, .btn, .md1 {
  border-radius: $btn-radius;
}

.prf-img > .avatar {
  border-radius: $image-radius;
} 
