// tweet.scss - dark theme (unless you are a poweruser)
// changes and fixes to the tweets (stream-items) for cashmere

.js-stream-item-content {
  padding-bottom: 5px;
}
            
.tweet-text {
  margin-bottom: 5px;
}

.stream-item {
  border-bottom: none;
}

.stream-item:hover {
  background-color: $tweet-dark-hover;
}

.js-search-in-popover .stream-item:hover,
.js-modal-panel .stream-item:hover{
  background-color: $tweet-hover;
} 
