// tweet.scss
// changes and fixes to the tweets (stream-items) for cashmere

@if $theme == light {
  .js-stream-item-content {
    padding-bottom: 5px;
  }
              
  .tweet-text {
    margin-bottom: 5px;
  }

  .stream-item {
    border-bottom: none;
  }

  .stream-item:hover {
    background-color: @tweet-hover;
  } 

  @each $column-type, $color, $lighten in (home, $column-home, 50%%),
                                          (mention, $column-interaction, 30%),
                                          (interactions, $column-interaction, 30%),
                                          (message, $column-message, 35%),
                                          (activity, $column-activity, 50%),
                                          (tweets, $column-tweets, 70%),
                                          (favorite, $favorite-color, 50%),
                                          (search, $column-search, 25%),
                                          (list, $column-list, 30%),
                                          (customtimeline, $column-customtimeline, 40%),
                                          (scheduled, $column-scheduled, 50%)
  {
    .column-type-#{$column-type} .stream-item:hover {
    background-color: lighten(#{$color}, #{$lighten});
    }
  }
} @else if $theme == dark {
  .js-stream-item-content {
    padding-bottom: 5px;
  }
              
  .tweet-text {
    margin-bottom: 5px;
  }

  .stream-item {
    border-bottom: none;
  }

  .stream-item:hover {
    background-color: $tweet-dark-hover;
  }

  .js-search-in-popover .stream-item:hover,
  .js-modal-panel .stream-item:hover{
    background-color: $tweet-hover;
  } 
}