// typography.less
// changes for text behaviour/body stuff in cashmere

body {
	background-image: @loading;
    background-size: cover;
}

body, .is-inverted-dark {
	font-family: @font-family;
}

.is-favorite .tweet-text a {
	color: @favorite-color;    
}

.is-retweet .tweet-text a {
	color: @retweet-color;    
}
    
.is-retweet.is-favorite .tweet-text a {
	color: @favrt-color;    
}

.is-favorite .tweet-text a:hover {
	color: darken(@favorite-color, 10%);    
}

.is-retweet .tweet-text a:hover {
	color: darken(@retweet-color, 10%);    
}
    
.is-retweet.is-favorite .tweet-text a:hover {
	color: darken(@favrt-color, 10%);    
}

.js-compose-message-recipient {
	padding-top: 10px;
}