// variable.less
// Including variables to be used in cashmere

// Colours
@retweet-color:		#71b332;
@favorite-color:	#ff9b00;
@favrt-color:		#48b4e6;

@update-color:		#48b4e6;

// Radius
@image-radius:		100px;
@btn-radius:		0px;